<!DOCTYPE html>
<html>
<head>
    <title> ml app </title>
</head>
<body>
    <h1>predict infosys stock</h1>
    <form action="/predict">
        <label for="open">Open: </label><input type="text" name="open" id="open"><br>
        <label for="high">High: </label><input type="text" name="high" id="high"><br>
        <label for="low">Low: </label><input type="text" name="low" id="low"><br>
        <label for="vol">Vol Mill: </label><input type="text" name="vol" id="vol"><br>
        <label for="change">Change%: </label><input type="text" name="change" id="change"><br>
        <input type="submit" name="Submit" id="submit">
    </form>
</body>
</html>